
.card{
	margin-top: 20px;
	margin-bottom: 25px;
	border:none;

}
.job-preview{
	background-color:#2C2C2C;
	color: white;	
}
.job-preview {
	display: flex;
	height: 250px;
	flex-direction: row;
	padding: 5px 0 5px 5px;

	&__image {
		width: 30%;
		height:240px;
		background-position: center;
	  	background-size: cover;
	 	background-repeat: no-repeat;

	}

	&__info {
		width: 70%;
	}
}
.card-price, .card-profile, .card-title{
	display: flex;
	flex-direction:row;
}
.card-price{
	color: #54E0E0;
}
.button{

	color:#54E0E0;
	text-decoration: underline; 
}
.profilePic{
	width: 60px;
	height:60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border:2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 90%;
	right:65%;
}


